<% content_for :headtag do %>
  <%= render :partial => 'shared/page_player' %>
  <script type="text/javascript">
    var message_json = <%= @message.to_json(:only => [ :id, :title, :lat, :lng, :zipcode]) %>;
  </script>
  <%= javascript_include_tag 'message_map.js' %>
<% end %>


<ul class='playlist messageDetail'>
  <%= render :partial => 'message', :object => @message %>
</ul>

<div id="dsq-reply"></div>

<script>
 var disqus_title = "<%= URI.escape("Message ##{@message.id} - #{@message.state} #{@message.zipcode}") %>";
</script>
<div class="span-18">
  <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/speakforchange/embed.js"></script><noscript><a href="http://speakforchange.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>


<% content_for :sidebar do %>
  <div id="map" style="margin-top: 8px;width:216px;height:300px;margin-bottom: 10px;"></div>


<% end %>
